<!DOCTYPE html>
<html>
<head>
	<title>All algos you need</title>
	<link rel="stylesheet" type="text/css" href="..\\static\\styles.css">
</head>
<body>
	<div class="main">
		<p id="main_replic">
			All algos you need are here!
		</p>
		<div class="section">
			<p id="section_titles">Algebra</p>
			<ul>
				<li>
					<p id="subsection_titles">Fundaments</p>
					<ul>
						<li>
							<a href="127.0.0.1">Binary Exponentiation</a>
						</li>
						<li>
							<a href="127.0.0.1">Euclidean algorithm for computing the greatest common divisor</a>
						</li>
						<li>
							<a href="127.0.0.1">Extended Euclidean Algorithm</a>
						</li>
						<li>
							<a href="127.0.0.1">Linear Diophantine Equations</a>
						</li>
						<li>
							<a href="127.0.0.1">Fibonacci Numbers</a>
						</li>
					</ul>
				</li>
				<li>
					<p id="subsection_titles">Fundaments</p>
					<ul>
						<li>
							<a href="127.0.0.1">Binary Exponentiation</a>
						</li>
						<li>
							<a href="127.0.0.1">Euclidean algorithm for computing the greatest common divisor</a>
						</li>
						<li>
							<a href="127.0.0.1">Extended Euclidean Algorithm</a>
						</li>
						<li>
							<a href="127.0.0.1">Linear Diophantine Equations</a>
						</li>
					</ul>
				</li>
				<li>
					<p id="subsection_titles">Fundaments</p>
					<ul>
						<li>
							<a href="127.0.0.1">Binary Exponentiation</a>
						</li>
						<li>
							<a href="127.0.0.1">Euclidean algorithm for computing the greatest common divisor</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="section">
			<p id="section_titles">Data structures</p>
		</div>
		<div class="section">
			<p id="section_titles">Dynamic programming</p>
		</div>
		<div class="section">
			<p id="section_titles">String processing</p>
		</div>
		<div class="section">
			<p id="section_titles">Linear algebra</p>
		</div>
		<div class="section">
			<p id="section_titles">Combinatorics</p>
		</div>
		<div class="section">
			<p id="section_titles">Numerical methonds</p>
		</div>
		<div class="section">
			<p id="section_titles">Geometry</p>
		</div>
		<div class="section">
			<p id="section_titles">Graphs</p>
		</div>
		<div class="section">
			<p id="section_titles">Miscellaneous</p>
		</div>
	</div>
	<a id="about" href="./about.html">About</a>
</body>
</html>